:root {
  --white: rgba(255, 255, 255, 1);
  --grayBlack: rgba(43, 53, 68, 1);
  --grayLight: rgba(117, 133, 157, 1);
  --black: rgba(34, 34, 34, 1);
  --primary: rgba(218, 37, 29, 1);
  --blueLight: rgba(233, 248, 255, 1);
  --blue: rgba(65, 128, 224, 1);
  --transition2s: 0.2s;
  --transition5s: ease-in 0.3s;
  --imageScale: scale(1.2);
  --cover: cover;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ОБЩИЕ НАСТРОЙКИ */

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background: var(--blueLight);
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  max-width: 1920px;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 16px;
}

.footer {
  margin-top: auto;
}

a:focus {
  outline: none;
}

.header {
  width: 100%;
}

/* 404 */

.notfound {
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 230px;
  padding: 32px;
  display: flex;
  max-width: 540px;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.notfound img {
  display: block;
  max-width: 100%;
}

.notfound h2 {
  text-align: center;
  padding-top: 24px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 32px;
}

.notfound a {
  margin-top: 24px;
  padding: 12px 0px;
  max-width: 420px;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  background: var(--primary);
  width: 100%;
  font-size: 16px;
  font-family: "Inter";
  font-weight: 600;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* ШАПКА САЙТА */

.header__banner {
  margin: 0 auto;
}

.header__banner-mobile {
  display: none;
}

.header__banner-desk img {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.header__run-body {
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0 auto;
  animation: header__run 30s linear infinite;
  -webkit-animation: header__run 30s linear infinite;
}

.header__run .header__run-body:hover {
  animation-play-state: paused;
}

.header__run-body a {
  color: var(--white);
  text-decoration: none;
}

.header__run-body a {
  white-space: nowrap;
  padding: 12px;
  color: var(--white);
  background: var(--grayBlack);
  display: flex;
  align-items: center;
  font-size: 16px;
}

.header__run-body a:hover {
  background: var(--white);
}

.header__run-body a:hover {
  color: var(--grayBlack);
}

.header__run ul li span {
  font-family: "Inter";
  font-weight: 700;
}

.header__logo {
  background-image: url("../images/header-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--grayBlack);
}

.header__logo-body {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-body span {
  background: var(--primary);
  color: var(--white);
  padding: 4px 6px;
  border-radius: 6px;
}

.header__menu {
  padding: 16px 0;
  background: var(--grayBlack);
}

.header__menu-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  width: 100%;
}

.nav__item:last-child {
  padding-right: 22px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Inter";
  font-weight: 600;
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.nav__link:hover {
  color: var(--primary);
}

.header__burger {
  display: none;
}

.header__menu-absolut {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 85%;
}

/* БУГУЩАЯ СТРОКА */

.run {
  background-color: var(--grayBlack);
  max-width: 100%;
  margin: auto;
}

.run__item a {
  padding: 12px;
  font-size: 15px;
  color: var(--white);
  text-decoration: none;
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.run__item a:hover {
  color: var(--black);
  background: var(--white);
}

.run__items {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
}

.run__item {
  flex-shrink: 0;
  display: flex;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}

.marquee {
  animation: scroll 30s linear infinite;
  -webkit-animation: scroll 30s linear infinite;
}

.run__items:hover .marquee {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 20px));
  }
}

/* TABS */

.tab-first {
  border: 1px solid var(--grayBlack);
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}

.tab-last {
  border: 1px solid var(--grayBlack);
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

.active-tab {
  color: #fff;
  background: var(--grayBlack);
}

.tabs {
  max-width: 360px;
  padding: 0 22px;
}

.hidden-tab-content {
  display: none;
}

.tabs__wrapper {
  padding-top: 20px;
}

.tabs__container li {
  cursor: pointer;
  max-width: 170px;
  width: 100%;
  list-style: none;
  font-size: 10px;
}

.tab-title {
  padding: 10px;
  text-align: center;
}

.tabs__container {
  display: flex;
  justify-content: flex-start;
}

/* TABS MAIN */

.tabs__main {
  margin: 0 auto;
  max-width: 1180px;
}

.tabs__main-news {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tabs__main-news p {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  margin-right: 20px;
}

.tab-title__main {
  border: 1px solid var(--black);
  border-radius: 6px;
  margin-right: 12px;
  font-family: "Inter";
  font-weight: 500;
  padding: 4px 6px;
  text-align: center;
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.tab-title__main:hover {
  color: #fff;
  background: var(--grayBlack);
}

.active-tab-main {
  color: #fff;
  background: var(--grayBlack);
}

.tabs__main {
  padding: 0 22px;
}

.hidden-tab-content-main {
  display: none;
}

.tabs__container-main li {
  cursor: pointer;
  font-size: 14px;
  max-width: 170px;
  list-style: none;
  font-size: 12px;
  margin-right: 12px;
  margin-bottom: 10px;
}

.tabs__container-main li:last-child {
  margin-right: 0px;
}

.tabs__container-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

/* SLIDER */

.splide {
  padding: 0 20px;
  margin-top: 20px;
  background: var(--white);
  padding: 24px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.splide__slide img {
  max-width: 244px;
  max-height: 120px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.splide__slide {
  padding: 15px;
  border-radius: 6px;
  margin-left: 12px;
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.splide__progress__bar {
  height: 3px;
  background: #ccc;
}

.splide__slide:hover {
  background: var(--blueLight);
}

.splide__slide a {
  height: 100%;
  text-decoration: none;
}

.splide__heading {
  flex-grow: 1;
}

.splide__card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.splide__card-img {
  border-radius: 6px;
  overflow: hidden;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.splide__card-img img {
  object-fit: var(--cover);
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
  width: 100%;
}

.splide__card:hover .splide__card-img img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.splide__card h3:hover {
  color: var(--primary);
}

.splide__card h3 {
  transition: ease-in var(--transition2s);
  padding-top: 15px;
  line-height: 21.33px;
  color: var(--black);
  font-size: 16px;
  font-family: "Playfair Display";
  font-weight: 700;
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.splide__heading {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.splide__heading span {
  background: var(--primary);
  color: var(--white);
  padding: 4px 6px;
  border-radius: 6px;
  font-size: 12px;
}

.splide__heading p {
  font-family: "Inter";
  font-weight: 400;
  color: var(--grayLight);
  font-size: 14px;
}

/* КАТЕГОРИИ*/

.headeing {
  padding: 24px 24px;
  padding-top: 24px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: var(--white);
}

.headeing__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headeing__top h2 {
  cursor: pointer;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 32px;
  color: var(--black);
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.headeing__top h2:hover {
  color: var(--primary);
}

.headeing__top a {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-weight: 700;
  text-decoration: none;
  color: var(--grayBlack);
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.headeing__top a:hover {
  color: var(--primary);
}

.headeing__top a:hover svg path {
  stroke: var(--primary);
}

.headeing__content {
  padding-top: 16px;
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(400px, 400px) 1fr 1fr;
  grid-auto-rows: auto;
}

.headeing__content a {
  color: var(--white);
  text-decoration: none;
}

.headeing__content a span {
  color: var(--black);
}

.headeing__content > a:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.headeing__card-first > .headeing__card-info h3 {
  font-size: 24px;
}

.headeing__card-info h3 {
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.headeing__card-info h3:hover {
  color: var(--primary);
}

.time__news {
  position: relative;
}

.time__news .time__news-icon {
  padding: 6px;
  border-radius: 6px;
  background: var(--primary);
  color: var(--white);
  z-index: 2;
  position: absolute;
  left: 10px;
  top: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.headeing__card-first:hover .time__news-icon {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.headeing__card-first {
  overflow: hidden;
  margin: 6px;
  display: flex;
  border-radius: 12px;
  border: solid 1px var(--grayLight);
}

.headeing__card {
  overflow: hidden;
}

.headeing__card img {
  object-fit: var(--cover);
  transition: var(--transition5s);
  -webkit-transition: var(--transition5s);
  -moz-transition: var(--transition5s);
  -ms-transition: var(--transition5s);
  -o-transition: var(--transition5s);
}

.headeing__card:hover img {
  transform: var(--imageScale);
  -webkit-transform: var(--imageScale);
  -moz-transform: var(--imageScale);
  -ms-transform: var(--imageScale);
  -o-transform: var(--imageScale);
}

.headeing__card-first img {
  object-fit: var(--cover);
  max-width: 370px;
  transition: var(--transition5s);
  -webkit-transition: var(--transition5s);
  -moz-transition: var(--transition5s);
  -ms-transition: var(--transition5s);
  -o-transition: var(--transition5s);
}

.headeing__card-first:hover img {
  transform: var(--imageScale);
  -webkit-transform: var(--imageScale);
  -moz-transform: var(--imageScale);
  -ms-transform: var(--imageScale);
  -o-transform: var(--imageScale);
}

.headeing__card-first:hover {
  /* border: solid 1px var(--primary); */
}

.headeing__card:hover {
  /* border: solid 1px var(--primary); */
}

.headeing__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 6px;
  border-radius: 12px;
  border: solid 1px var(--grayLight);
}

.headeing__card img {
  width: 100%;
  max-width: 670px;
  height: 152px;
}

.headeing__card-info {
  background-color: var(--white);
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-height: 180px;
}

.headeing__card-info-hidden {
  background: var(--white);
  z-index: 2;
}

.headeing__card-info h3 {
  padding: 15px 16px 0px 16px;
  font-size: 16px;
  color: var(--black);
  font-family: "Playfair Display";
  font-weight: 700;
}

.headeing__card-info p {
  padding: 8px 16px 0px 16px;
  padding-top: 8px;
  font-family: "Inter";
  font-weight: 400;
  color: var(--black);
  font-size: 14px;
}

.headeing__card-info span {
  margin-top: auto;
  padding: 15px 16px 15px 16px;
}

.headeing__card span {
  display: block;
  padding: 15px 16px 15px 16px;
}

.paginations {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.paginations__arrow-left,
.paginations__arrow-right {
  border: none;
  background: none;
}

.paginations__arrow-left img,
.paginations__arrow-right img {
  max-width: 30px;
}

.paginations__number {
  border: 1px solid var(--grayBlack);
  background: none;
  width: 35px;
  height: 30px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-family: "Inter";
  font-weight: 600;
  margin: 0 4px;
  transition: var(--transition2s);
  -webkit-transition: var(--transition2s);
  -moz-transition: var(--transition2s);
  -ms-transition: var(--transition2s);
  -o-transition: var(--transition2s);
}

.paginations__number:hover {
  background: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
}

/* САЙД БАР ЛЕВЫЙ */

.aside__left {
  left: 0;
  padding-top: 20px;
}

.aside__article {
  max-width: 322px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aside__article article {
  padding-top: 12px;
  border-bottom: solid 1px var(--grayBlack);
}

.aside__article article p {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 21.33px;
  color: var(--black);
  font-size: 14px;
  font-family: "Playfair Display";
  font-weight: 700;
}

.aside__article-category,
.aside__article-time {
  padding-top: 12px;
  color: var(--grayBlack);
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.aside__article-category:hover {
  cursor: pointer;
  color: var(--primary);
}

.aside__article article a {
  text-decoration: none;
}

.aside__article article a p {
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.aside__article article a p:hover {
  color: var(--primary);
}

/* ПОДВАЛ САЙТА */

.footer {
  padding: 36px 0;
  background: var(--grayBlack);
}

.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__social {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.footer__social a svg path {
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.footer__social a svg rect {
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.footer__social a:hover svg path {
  fill: var(--white);
}

.footer__social a:hover svg rect {
  fill: var(--primary);
}

.footer__social a {
  margin-right: 15px;
}

.footer__link-body {
  display: flex;
  justify-content: space-between;
}

.footer__link {
  margin: 0 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__link a {
  color: var(--white);
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-decoration: none;
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.footer__link a:hover {
  color: var(--primary);
}

/* ПОИСК */

.search {
  border: none;
  background: none;
  margin-left: 20px;
}

.search-form {
  margin-left: 20px;
  position: relative;
  transition: all 1s;
  width: 30px;
  height: 30px;
  background: var(--grayBlack);
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid var(--grayBlack);
}

.search-btn:hover svg path {
  fill: var(--primary);
}

.search-btn svg path {
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.search-btn {
  position: absolute;
  z-index: 2;
  right: 0;
  border: none;
  background: none;
}

input {
  padding-left: 10px;
  position: absolute;
  top: -5px;
  right: 30px;
  height: 30px;
  width: 100%;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.search-form.active {
  width: 200px;
  cursor: pointer;
}

.search-form.active input {
  display: block;
}

.search-form.hidden input {
  display: none;
}

/* СТАТЬЯ */

.article__news {
  padding-top: 80px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(22, 30, 41, 0.5) 100%
    ),
    url("../images/article-banner.png");
  background-repeat: no-repeat;
  background-size: var(--cover);
}

.article__news img {
  display: block;
  width: 100%;
}

.article__news-body {
  min-height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__news-body img {
  max-width: 256px;
  top: 100px;
}

.article__news-title {
  max-width: 580px;
  padding-bottom: 34px;
}

.article__news-title h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 32px;
  line-height: 42.66px;
  color: var(--white);
}

.article__news-title p {
  padding-top: 16px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
}

.article__news-title p span {
  font-weight: 700;
}

.aside__article-news {
  margin: 0 24px;
}

.wrapper__arcticle {
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.aside__article-readable h2,
.aside__article-lastnews h2 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 24px;
  padding: 16px 0;
}

.article__main {
  background: var(--white);
  padding: 24px;
  margin-bottom: 24px;
}

.article__heading {
  text-decoration: none;
  background: var(--primary);
  color: var(--white);
  padding: 4px 6px;
  border-radius: 6px;
}

.article__main-body .article__heading:hover {
  background: var(--grayBlack);
  color: var(--white);
}

.article__main-body a:hover {
  color: var(--primary);
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.article__main-body h3 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 32px;
  line-height: 42.66px;
  padding-top: 16px;
}

.article__main-body img {
  padding-top: 16px;
  display: block;
  max-width: 100%;
}

.article__imege-title {
  display: block;
  padding-top: 8px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
}

.article__main-body p {
  padding-top: 16px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.article__main-body p a {
  color: var(--black);
}

.article__main-body p span {
  display: block;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.article__main-soc p a {
  color: var(--blue);
}

.article__main-soc p span {
  display: inline-block;
  color: var(--blue);
  font-weight: 400;
}

.article__main-tag span {
  display: block;
}

.article__main-tag {
  padding-top: 24px;
  display: flex;
  align-items: center;
}

.article__main-tag p {
  text-transform: uppercase;
  margin-right: 12px;
  padding: 0;
}

.article__main-tag a {
  margin-right: 12px;
  text-decoration: none;
  color: var(--black);
  background: var(--white);
  border: 1px solid var(--black);
  padding: 4px 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.article__main-tag a:hover {
  background: var(--black);
  color: var(--white);
}

.article__main-socail {
  padding-top: 26px;
  display: flex;
  align-items: center;
}

.article__main-socail p {
  padding: 0;
  margin-right: 12px;
}

.article__main-socail a {
  margin-right: 15px;
}

.article__main-socail a svg path {
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.article__main-socail a svg rect {
  transition: ease-in var(--transition2s);
  -webkit-transition: ease-in var(--transition2s);
  -moz-transition: ease-in var(--transition2s);
  -ms-transition: ease-in var(--transition2s);
  -o-transition: ease-in var(--transition2s);
}

.article__main-socail a:hover svg path {
  fill: var(--white);
}

.article__main-socail a:hover svg rect {
  fill: var(--primary);
}
